.card{
    background-color: rgb(42, 41, 41);
    border-radius: 5px;
    cursor: pointer;
    height: 500px;
    width: 100%; 
    overflow:hidden;
}
.card:hover{
    opacity: 0.9;
}
p{
    margin: 10px;
    margin-top: 0px;
    text-align: justify;
    color:aliceblue;
    font-family: 'JetBrains Mono', monospace;
    overflow:hidden;
}
.h1{
    margin: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
}
.img{
    border-radius: 5px 5px 0 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75%;
}
.link{
    text-decoration: none;
}
