@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');
ul{
    text-align: right;
    margin-right: 10%;
    position: absolute;
    right: 0;
}
.logo{
    margin-left: 10%;
}
h1{
    font-family: 'JetBrains Mono', monospace;
    color: aliceblue;
    /* margin-left: 150px; */
    font-size: 20px;
}
menu{
    color: aliceblue;
    margin: 0;
    padding: 0;
    background-color:rgb(42, 41, 41);
    display:flex;
    flex-direction: row;
}
li{
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
    margin:15px 0px 50px 50px;
    list-style-type: none;
    display: inline; 

}
.link{
    text-decoration: none;
}